h1{
    font-style: Times New Roman;
    font-weight: bold; 
    color: #939597;
}
h2{
    color: #84CDC2;
}
.p1{
    font-style: italic;
    font-size: 200%;
    color: #2B5A5F;

}

.p2{
    font-style: Courier New ;
    font-size: 100%;
}

.p3{
    font-style: Arial ;
    font-size: 100%; 
    padding: 0 1em;
    color: #777;
    border-left:.25em solid #ddd  
}