.title{
    font-size: 10vw;
    color: #f8e5e5;
    margin: 5px 0;
    position: absolute;
    bottom:50px;
    right: 50px;
}

/* profile adjust starts */

.move1 {
    margin: 5px;
    position: absolute;
    top:105%;
    left: 2vw;
    color: #c39ea0;
    font-size: 2.5vw;
}

.move2{
    margin: 5px;
    position: absolute;
    top:110%;
    left: 2vw;
    color: #c39ea0;
    font-size: 2.5vw;
}

.move3{
    margin: 5px;
    position: absolute;
    top:115%;
    left: 2vw;
    color: #c39ea0;
    font-size: 2.5vw;
}

.move4{
    margin: 5px;
    position: absolute;
    top:120%;
    left: 2vw;
    color: #c39ea0;
    font-size: 2.5vw;
}

.move5{
    margin: 5px;
    position: absolute;
    top:125%;
    left: 2vw;
    color: #c39ea0;
    font-size: 2.5vw;
}

.move6{
    margin: 5px;
    position: absolute;
    top:130%;
    left: 2vw;
    color: #c39ea0;
    font-size: 2.5vw;
}

.move7{
    margin: 5px;
    position: absolute;
    top:135%;
    left: 2vw;
    color: #c39ea0;
    font-size: 2.5vw;
}
.profile-pic{
    top:108%;
    position: absolute;
    right: 5vw;
    max-width: 25vw;
    max-width: 25vw;
}

.quote{
    margin: 5px 0;
    position: absolute;
    top:140%;
    right: 5vw;
    color: #937778;
    font-size: 2.5vw;
    font-family: Merriweather !important; 
}
/* profile adjust ends */


/* blog and bird intro */ 

.words{
    color: black;
    font-family: Montaga; 
    font-size: 6vw;
    font-weight: lighter;
}

.flip-words-x {
    -webkit-animation-name: flip-words-x;
    animation-name: flip-words-x;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s; 
}
  
  @keyframes flip-words-x {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* blog and bird intro ends */ 


/* blog start */

.blog-title{
    left: 50px;
    font-size: 3vw;
    font-family: Montaga;
    color: #F5DF4D; 
}

.blog-button{
	border: none;
    padding: 20px;
	text-align: center;
    margin: 4px 2px;
    color: #f8e5e5;
    border-radius: 12px;
    color: black;
}

/* blog end */

/* birdy start */

.birdy-title{
    right: 50px;
    font-size: 3vw;
    font-family: Montaga;
    color: #939597;
}

.birdy-button{
	border: none;
    padding: 20px;
	text-align: center;
    margin: 4px 2px;
    background-color: black;
    border-radius: 12px;
    color: #f8e5e5;
}

/* birdy end */

.footer {
    position: related;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eeceac;
    color: #de8887;
    text-align: center;
 }