h1{
    font-style: italic;
    font-weight: bold; 
    color: #939597;
    text-align: center;
}
.title{
    position: relative;
    left: 100px;
    font-style: italic;
    font-size: 30px;
    color: #F5DF4D;
}
.content {
    position: relative;
    left: 100px;
    font-style: italic;
    font-size: 25px;
    color:black;
}